<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <% if content_for?(:header) %><%= yield(:header) %><% end %>
</head>
<body>
1
<%= yield %>
2
</body>
</html>
